.footnote {
    font-size: 14px!important;
    line-height: 1.2em;
}
.rawURL {
    color: inherit!important;
    font-family: monospace!important;
}
td, th {
    text-align: center!important;
}
.annotation {
    font-size: 45%!important;
}
.vid-annotation {
    text-align: justify!important;
    font-size: 45%!important;
}
.vid-quote {
    text-align: justify!important;
    font-size: 55%!important;
}
/* https://stackoverflow.com/a/38462769 */
.text-vid-left {
  float: left;
  text-align: left;
  width:25%;
  z-index:-10;
}
.text-vid-right {
  float: right;
  text-align: right;
  width:75%;
  z-index:-10;
}
.half-half-left {
  float: left;
  text-align: left;
  width:50%;
  z-index:-10;
}
.half-half-right {
  float: right;
  text-align: right;
  width:50%;
  z-index:-10;
}
section {
    hyphens: auto;
}
blockquote {
    font-size: 75%!important;
    text-align: justify!important;
}
