section {
    hyphens: auto;
}
.footnote {
    font-size: 14px!important;
    line-height: 1.2em;
}
.annotation {
    font-size: 45%!important;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.half-half-left {
  float: left;
  text-align: left;
  width:50%;
  z-index:-10;
}
.half-half-right {
  float: right;
  text-align: right;
  width:50%;
  z-index:-10;
}
.column-3 {
    float: left;
    width: 33.33%;
}
